In [1]:
print["my name is madhu sudan paudel"]

['my name is madhu sudan paudel']

In [2]:
print["my home is at pokhara"]

['my home is at pokhara']

In [3]:
print["nepal"]
print["4"]
print["money"]

['nepal']
['4']
['money']

In [4]:
print("nepal")

nepal

In [6]:
a=4
print(a)

4

In [29]:
b=3

In [9]:
c=5
d=9
print(a+d)

12

In [10]:
print(c+d)

14

In [17]:
print (d)

9

In [19]:
c="preety"
print(c)

preety

In [20]:
f1="my name is ..."
f2="i am from pokhara"
print(f1)

my name is ...

In [21]:
print(f2)

i am from pokhara

In [22]:
print(f1)
print(f2)

my name is ...
i am from pokhara

In [27]:
f3="i am from pokhara"
print(f2)
print(f3)

i am from pokhara
i am from pokhara

In [30]:
print(b)

3

In [31]:
v1="name"
v2="address"

In [32]:
temp1 = v2
temp2 = v1
print(temp1)

address

In [33]:
print(temp2)

name

In [35]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [41]:
name="Shyam"
age="45"
print("My name is " + name + ",")
print( name + "has a wife")
print(name + "has a girlfrind")
print(name + " is "+ age + " year old")
print(name + " doesnot like to be "+ age + " year")

My name is Shyam,
Shyamhas a wife
Shyamhas a girlfrind
Shyam is 45 year old
Shyam doesnot like to be 45 year

In [4]:
print("edusoft \n academy")

edusoft
 academy

In [5]:
phrase = "Edusoft Academy"
print(phrase)

Edusoft Academy

In [7]:
print(phrase +"is best")

Edusoft Academyis best

In [10]:
print(phrase.lower())

edusoft academy

In [11]:
print(phrase.upper())

EDUSOFT ACADEMY

In [12]:
print(phrase.isupper())

False

In [13]:
print(phrase.upper().isupper())

True

In [14]:
print(len(phrase))

15

In [15]:
print(phrase[0])

E

In [17]:
print(phrase[13])

m

In [19]:
print(phrase.index("e"))

12

In [20]:
print(phrase.index("Acade"))

8

In [21]:
print(phrase.index("c"))

9

In [24]:
print(phrase.index("E"))

0

In [26]:
 print(phrase.index("y"))

14

In [30]:
print(phrase.replace("Edu", "Fde"))

Fdesoft Academy

In [31]:
3+4

7

In [32]:
3*4+5

17

In [50]:
num1 = input("Enter a number: ")
num2 = input("Enter other number: ")
result=int(num1) + int(num2)
print(result)

Enter a number: 102340571
Enter other number: 74846834843247846378643746
74846834843247846480984317

In [51]:
num1 = input("Enter a number: ")
num2 = input("Enter other number: ")
result=num1 + num2
print(result)

Enter a number: 23
Enter other number: 45.8
68.8

In [52]:
num1 = input("Enter a number: ")
num2 = input("Enter other number: ")
result=num1 + num2
print(result)

Enter a number: 2
Enter other number: 3.5
5.5

In [ ]:
num1=input("Enpur first number")
num2=input("Enput second number")
result=num1+num2
print(result)